In [2]:
import json
import math
import pickle
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# TO BE RE-ARANGED AT THE END

/home/x_x/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

### Data Wangling
Prepare the dataframe for business.

In [ ]:
# Read original dataframe
df_business_ori = pd.read_json("./data/yelp_academic_dataset_business.json", lines = True)

In [65]:
# Keep only relevant colunms
df_business = df_business_ori[['business_id','state','latitude','longitude']].copy()
# Show an example
df_business[:3]

              business_id state   latitude   longitude
0  f9NumwFMBDn751xgFiRbNA    NC  35.462724  -80.852612
1  Yzvjg0SayhoZgCljUJRF9Q    AZ  33.569404 -111.890264
2  XNoUzKckATkOD1hP6vghZg    QC  45.479984  -73.580070

Find the state with the most number of business.

In [66]:
count = 0
target_state = ''
for state in df_business_ori['state'].unique():
    temps_count = len(np.where(df_business_ori['state'] == state)[0])
    if(temps_count>count):
        count = temps_count
        target_state = state
print("Target state is ",target_state)

Target state is  AZ

In [67]:
# Keep only business in target_state
df_business = df_business.loc[df_business['state'] == target_state]
# Reset index
df_business.reset_index(drop=True,inplace=True)
# Show an examlpe
df_business.head()

              business_id state   latitude   longitude
0  Yzvjg0SayhoZgCljUJRF9Q    AZ  33.569404 -111.890264
1  51M2Kk903DFYI6gnB5I6SQ    AZ  33.428065 -111.726648
2  cKyLV5oWZJ2NudWgqs8VZw    AZ  33.350399 -111.827142
3  ScYkbYNkDgCneBrD9vqhCQ    AZ  33.393885 -111.682226
4  JjJs3o60uQCfctDjs45cmA    AZ  33.303869 -111.951660

In [68]:
# Save smaller dataframe as csv in order to not load the entire dataset next time
df_business.to_csv('./data/df_business.csv',index=False)

In [ ]:
# Read the save smaller dataset
df_business = pd.read_csv('./data/df_business.csv')

Prepare the dataframe for users.

In [5]:
# Read large json file of user
# The whole 
with open("./data/yelp_academic_dataset_user.json") as json_file:      
    data = json_file.readlines()
    data = list(map(json.loads, data)) 

df_user_ori = pd.DataFrame(data)

In [11]:
# Keep only relevant colunms
df_user = df_user_ori[['user_id','friends']].copy()
# Show an example
df_user[:3]

                  user_id                                            friends
0  ntlvfPzc8eglqvk92iDIAw  oeMvJh94PiGQnx_6GlndPQ, wm1z1PaJKvHgSDRKfwhfDg...
1  FOBRPlBHa3WPHFB5qYDlVg  ly7EnE8leJmyqyePVYFlug, pRlR63iDytsnnniPb3AOug...
2  zZUnPeh2hEp0WydbAZEOOg  Uwlk0txjQBPw_JhHsQnyeg, Ybxr1tSCkv3lYA0I1qmnPQ...

In [12]:
# Save smaller dataframe as csv in order to not load the entire dataset next time
df_user.to_csv('./data/df_user.csv',index=False)

In [13]:
# Read the save smaller dataset
df_user = pd.read_csv('./data/df_user.csv')

Prepare the dataframe for reviews.

In [ ]:
"""
import zipfile
import json
with zipfile.ZipFile("./data/yelp_academic_dataset_review.zip") as z:
    with z.open("yelp_academic_dataset_review.json") as f:
        data_review = f.readlines()
        data_review = list(map(json.loads, data_review))  
"""

In [ ]:
## kernel dead... ↓↓↓

In [6]:
# Read large json file of user
with open("./data/yelp_academic_dataset_review.json") as json_file:      
    data_review = json_file.readlines()
    data_review = list(map(json.loads, data_review))

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x8d in position 12: invalid start byte

In [ ]:
# MEMORY ERROR
df_review_ori = pd.read_json("./data/yelp_academic_dataset_review.zip", lines = True)

In [ ]:
df_review_ori = pd.DataFrame(data_review)

In [ ]:
# Keep only relevant colunms
df_review = df_review_ori[['user_id','friends']].copy()
# Show an example
df_review[:3]

In [ ]:
# Save smaller dataframe as csv in order to not load the entire dataset next time
df_review.to_csv('./data/review.csv',index=False)

In [ ]:
# Read the save smaller dataset
df_review = pd.read_csv('./data/df_review.csv')